$menu-color: #d82424;
$background-color: rgb(255, 240, 217);
$text-color: #F7F1E7;
$menu-color-dark: black;
$font-family: 'Radio Canada', sans-serif;

$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;