.footer{
    background-color: #0086ff;
    color: white;
    text-align: center;
    left: 0;
    font-family: "Rajdhani";
    height: 2em;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
}