.form{
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
}
.h1-form{
    font-size: 33px;
    font-family: "Rajdhani";
    margin-bottom: 0;
    text-align: center;

}