.search{
    display: flex;
    width: 80%;
    max-width: 660px;
    margin-bottom: 1em;
  }



  .h1-search{
    font-size: 30px;
    font-family: "Rajdhani";
    margin-bottom: 0;
    text-align: center;
    width: 80%;
  }

  .h2-search{
    font-size: 20px;
    font-family: "Rajdhani";
    width: 90%;
    text-align: center;
  }

  #stack{
    width: 360px;
  }

   //versión desktop
@media only screen and (min-width: 730px) {
  
  .h2-search{
    font-size: 23px;
  }
  .h1-search{
    font-size: 33px;
  }
 
}